$bodyBackground: #F3F3ED;
$fontFamily: "Helvetica Neue",arial,freesans,clean,sans-serif;

$contentMaxWidth: 720px;
$contentBackground: #FCFCFC;
$contentColor: #5B5B46;

$headerBackground: #95B85E;
$headerInnerBackground: #87A655;
$headerColor: $contentBackground;

$statsColor: #CDCDC7;
