@import 'variables';

body {
  background-color: $bodyBackground;
  font-family: $fontFamily;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  .wrapper {
    width: 100%;
    max-width: $contentMaxWidth;
    margin: auto;
    padding: 0 10px;
    background-color: $contentBackground;
    color: $contentColor;
    height: 100%;
    text-align: left;
  }
  .content {
    padding: 60px 0px 10px 0px;
  }
}




